<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="im.dacer.kata.core">

    <application>

        <activity
            android:name=".ui.BigBangActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/BigBangTheme"
            android:process=":listener"
            android:documentLaunchMode="intoExisting">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="kata"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.FloatActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/FloatTheme"
            android:process=":listener"
            android:documentLaunchMode="intoExisting" >
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT"/>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="kata-float"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
