<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="im.dacer.kata.core">

    <application>

        <activity
            android:name=".BigBangActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/BigBangTheme"
            android:process=":listener">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="kata"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
